*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
 html, body {
    height: 100%;
    width: 100%;
 }

 body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
 }
 #card{
    height: 400px;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
 }
 #card img {
    height: 55%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
 }
 #card h1 {
    font-size: 30px;
    margin: 10px 0;
    font-weight: 800;
    text-align: center;
 }
 #card h5 {
    font-size: 25px;
    color: red;
    margin: 10px 0;
    text-align: center
 }
 #card button {
    background-color: cadetblue;
    color: #fff;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 5px ;
    border: none;
    cursor: pointer;
    margin: 10px;
    text-align: center;
 }
 #btn-container  {
    text-align: center;

 }
 /* Add animation */
@keyframes moveImage {
    from {
        transform: translateY(-50%);
    }
    to {
        transform: translateY(0);
    }
}

#animated-image {
    animation: moveImage 2s ease-in-out;
}
